{% extends 'layouts/default.twig' %}
{% set pageName = 'Homepage' %}

{% block content %}
<h1 id="aa">Strona główna działa</h1>

<svg class="icon">
  <use xlink:href="svg/svgstore.svg#key" />
</svg>
{% endblock %}